*{
    box-sizing: border-box;
}

body, header, nav, ul, li, a, img, p, h1, h2, h3{
    padding: 0px;
    margin: 0px;
}

body{
    --background-c: rgb(212, 26, 26);
    --font-c: white;
    font-family: 'Montserrat';
    background-color: var(--background-c);
    color: var(--font-c);
    -webkit-tap-highlight-color; 
}

/*------------------- HEADER ----------------------------*/

.header{
    width: 100dvw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav{
    width: 100dvw;
}

.header__nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100dvw;
    padding: 5px 20px;
}

.header__nav-list a{
    color: var(--font-c);
    text-decoration: none;
}

.nav-logo{
    width: 70px;
}

.header__nav-item{
    color: var(--font-c);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

/** .header__nav-item:not(:first-child):hover  TENER EN CUENTA     ---------------------------------------- **/


.nav-item__text{
    display: none;
}

.header__nav-list a .material-symbols-outlined{
    vertical-align: middle;
    line-height: 1;
    font-size: 4em;
}

.header__nav-item:nth-child(2), .header__nav-item:nth-child(5), .header__nav-item:nth-child(6){
    display: none;
}

.header__nav-item:nth-child(1){
    order: -1;
    padding: 10px 0px;
}

.header__nav-item:nth-child(3){
    order: 4;
    padding: 10px 0px;
}

.header__nav-item:nth-child(4){
    order: 2;
    padding: 10px 0px;
}

/*------------------- main ----------------------------*/

h1{
    text-align: center;
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    background-color: rgb(92, 31, 31);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
    width: 100dvw;
    line-height: 66px;
}

.main__primary{
    font-size: 2.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-wrap: balance;
    letter-spacing: 15px;
}

p{
    text-wrap: pretty;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    user-select: none;
    background-color: rgb(92, 31, 31);
    width: 100dvw;
}

.hamburguesa__container{
    width: 100dvw;
    background-color: rgb(136, 255, 0);
}

.hamburguesa-palta{
    display: block;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    cursor: pointer;
    max-width: 100dvw;
    height: auto;
    filter: drop-shadow(2px 2px 3px rgb(0, 0, 0))
}

.main__primary:hover{
    transition-duration: 1.1s;
    color: rgb(136, 255, 0);
}

.hamburguesa__container:hover{
    background-color: rgb(102, 190, 1);

}

.button__order{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 255, 0);
    width: 100vw;
    padding: 5px;
    user-select: none;
}

.button__order-now{
    font-size: 2em;
    text-align: center;
    color: black;
    letter-spacing: 1px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 14px;
    border-bottom: 3px solid black;
    box-shadow: 2px 2px 4px black;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    user-select: none;
}

.button__order-now::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: var(--background-c);
    transition: height 2s ease-out;
    z-index: -1;
}

.button__order-now:active::before{
    height: 100%;
}

.button__order-now:active{
    color: white;
    transition: color 1s ease-out;
}
